.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__description {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}

.section__title {
  font-family: getFontFamily('secondary'), sans-serif;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('text-color-dark');

  @include tablet {
    font-size: 34px;
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: getColor('text-color-dark');
  border-radius: 10px;
  outline: transparent;
  transition: color $time-hover $time-function,
    background-color $time-hover $time-function,
    border-color $time-hover $time-function;
}

.btn--fill {
  border: transparent;
  background-color: getColor('accent-color');

  &:hover,
  &:focus {
    background-color: getColor('button-active-color');
  }

  &:focus {
    color: getColor('text-color-light');
  }
}

.btn--bordered {
  background-color: transparent;
  border: 2px solid getColor('accent-color');

  &:hover,
  &:focus {
    border-color: getColor('button-active-color');
  }

  &:focus {
    color: getColor('text-color-light');
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity $time-hover $time-function,
    visibility $time-hover $time-function;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}