$color: (
'text-color-light': #FCFCFC,
'text-color-dark': #131313,
'accent-color': #F8D24E,
'background-color': #84A178,
);

@function getColor($key) {
  @return map-get($color, $key);
};

$fontFamily: (
  'main': 'Montserrat',
  'secondary': 'Seymour One',
);

@function getFontFamily($key) {
  @return map-get($fontFamily, $key);
};

$time-hover: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);