<!-- About Section -->
<section class="about">
  <p class="about__pre-heading">Tradition and love</p>
  <h2 class="adout__heading">How it’s made?</h2>
  <div class="about__img-wrap">
    <img
      src="../images/about-img-desktop-1x.jpg"
      class="about__img"
      width="490"
      height="490"
      alt="A cow in a meadow"
    />
  </div>
  <div class="about__info">
    <p>
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p>
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <p>This is enough to choose ice cream and coffee for any mood!</p>
    <button type="button" class="btn-main">Read more</button>
  </div>
</section>
<!-- End About Section -->
