<section class="contacts section" id="contacts">
  <div class="container">
    <div class="contacts-fly">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <span class="contacts__category">CAFE</span>

          <address class="contacts__address">
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="contacts__address-link"
              href="https://goo.gl/maps/Z9tRx7pfNeYTG1AN9"
              ><p class="city">Chicago</p>
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
          <div class="contacts-shedule">
            <ul class="contacts-shedule__list">
              <li class="contacts-shedule__item">
                <p class="days">Monday - Friday</p>
                <p class="hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-shedule__item">
                <p class="days">Saturday - Sunday</p>
                <p class="hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-telmail">
            <ul class="contacts-telmail__list">
              <li class="contacts-telmail__item">
                <a class="contacts-telmail__link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-telmail__item">
                <a
                  class="contacts-telmail__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="contacts__item">
          <span class="contacts__category">FOODTRUCK</span>

          <address class="contacts__address">
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="contacts__address-link"
              href="https://goo.gl/maps/W9zk659k81fXA28WA"
              ><p class="city">Los Angeles</p>
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
          <div class="contacts-shedule">
            <ul class="contacts-shedule__list">
              <li class="contacts-shedule__item">
                <p class="days">Monday - Friday</p>
                <p class="hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-shedule__item">
                <p class="days">Saturday - Sunday</p>
                <p class="hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-telmail">
            <ul class="contacts-telmail__list">
              <li class="contacts-telmail__item">
                <a class="contacts-telmail__link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-telmail__item">
                <a
                  class="contacts-telmail__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="contacts__item">
          <span class="contacts__category">CAFE</span>

          <address class="contacts__address">
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="contacts__address-link"
              href="https://goo.gl/maps/QSSkG9y3pnNtTsu58"
              ><p class="city">New York</p>
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </a>
          </address>
          <div class="contacts-shedule">
            <ul class="contacts-shedule__list">
              <li class="contacts-shedule__item">
                <p class="days">Monday - Friday</p>
                <p class="hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-shedule__item">
                <p class="days">Saturday - Sunday</p>
                <p class="hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>

          <div class="contacts-telmail">
            <ul class="contacts-telmail__list">
              <li class="contacts-telmail__item">
                <a class="contacts-telmail__link" href="tel:+610383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contacts-telmail__item">
                <a
                  class="contacts-telmail__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <ul class="contact-button-list">
        <li class="contact-button-item">
          <button class="contact-button">
            Our Locations
            <svg class="icon-contacts" width="12" height="12">
              <use href="./images/icons.svg#icon-arrow-right-bold"></use>
            </svg>
          </button>
        </li>
        <li class="contact-button-item">
          <button class="contact-button">
            Franchise
            <svg class="icon-contacts" width="12" height="12">
              <use href="./images/icons.svg#icon-arrow-right-bold"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
