<div class="two-swipers">
  <section class="first-swiper section">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/gallery/swiper11x.jpg" alt="" width="1013" />
        </div>
        <div class="swiper-slide">
          <img src="./images/gallery/swiper21x.jpg" alt="" width="1013" />
        </div>
        <div class="swiper-slide">
          <img src="./images/gallery/swiper31x.jpg" alt="" width="1013" />
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section class="second-swiper section">
    <div class="swiper mySwipertwo">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="responce-photo"
            src="./images/gallery/responce1.png"
            alt=""
          />
          <p class="responce-text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="responce-name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            class="responce-photo"
            src="./images/gallery/responce1.png"
            alt=""
          />
          <p class="responce-text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="responce-name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            class="responce-photo"
            src="./images/gallery/responce1.png"
            alt=""
          />
          <p class="responce-text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="responce-name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</div>
