<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/slide-one-ds.png    1x,
            ./images/gallery/slide-one-ds@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/slide-one-tb.png    1x,
            ./images/gallery/slide-one-tb@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/slide-one-mb.png    1x,
            ./images/gallery/slide-one-mb@2x.png 2x
          "
        />
        <img
          src="./images/gallery/slide-one-mb.png"
          alt="Icecremexampl"
          width="450"
        />
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/slide-one-ds.png    1x,
            ./images/gallery/slide-one-ds@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/slide-one-tb.png    1x,
            ./images/gallery/slide-one-tb@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/slide-one-mb.png    1x,
            ./images/gallery/slide-one-mb@2x.png 2x
          "
        />
        <img
          src="./images/gallery/slide-one-mb.png"
          alt="Icecremexampl"
          width="450"
        />
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/slide-one-ds.png    1x,
            ./images/gallery/slide-one-ds@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/slide-one-tb.png    1x,
            ./images/gallery/slide-one-tb@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/slide-one-mb.png    1x,
            ./images/gallery/slide-one-mb@2x.png 2x
          "
        />
        <img
          src="./images/gallery/slide-one-mb.png"
          alt="Icecremexampl"
          width="450"
        />
      </picture>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
