<div class="two-swipers">
  <section class="gallery section">
    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="gallery__image"
              src="./images/gallery/swiper11x.jpg"
              alt="ice creme"
              width="1013"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery__image"
              src="./images/gallery/swiper21x.jpg"
              alt="ice creme"
              width="1013"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery__image"
              src="./images/gallery/swiper31x.jpg"
              alt="ice creme"
              width="1013"
            />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>

  <section class="reviews section">
    <div class="container reviews__container">
      <div class="swiper mySwipertwo">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="responce-photo"
              src="./images/reviews/reviewer-1.png"
              alt=""
            />
            <div class="review__box">
              <p class="responce-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <p class="responce-name">Emily, Los Angeles</p>
          </div>
          <div class="swiper-slide">
            <img
              class="responce-photo"
              src="./images/reviews/reviewer-2.png"
              alt=""
            />
            <div class="review__box">
              <p class="responce-text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <p class="responce-name">Bryan, New-York</p>
          </div>
          <div class="swiper-slide">
            <img
              class="responce-photo"
              src="./images/reviews/reviewer-3.png"
              alt=""
            />
            <div class="review__box">
              <p class="responce-text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <p class="responce-name">Diana, Chicago</p>
          </div>
        </div>
      </div>

        <div class="cc"><div class="swiper-pagination"></div></div>
      </div>
    </div>
  </section>
</div>
