<header class="header">
  <div class="container">
    <nav class="navigation">
        <a href="index.html">
          <img class="header-logo" src="./images/header/logo-mob@1x.png" width="40" height="37">
        </a>
      <ul class="header-menu list">
        <li class="header-menu-item"><a href="index.html">Home</a></li>
        <li class="header-menu-item"><a href="#">How it’s made?</a></li>
        <li class="header-menu-item"><a href="#"></a>Our products</li>
        <li class="header-menu-item"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <button class="btn buy-btn" type="button">Buy now</button>
    <button class="mob-menu-btn" type="button" data-menu-open>
      <svg class="header-icon header-menu-icon" width="32" height="32">
        <use href='./images/header/header-icons.svg#icon-eva_menu-fill'></use>
      </svg>
    </button>
    <div class="mob-menu-container is-hidden" data-menu>
      <nav class="nav">
          <a href="index.html">
            <img class="mob-header-menu-logo" src="./images/header/logo-mob@1x.png" width="40" height="37">
          </a>
          <ul class="mob-header-menu list">
            <li class="mob-header-menu-item"><a class="link" href="">Home</a></li>
            <li class="mob-header-menu-item"><a class="link" href="">How it’s made?</a></li>
            <li class="mob-header-menu-item"><a class="link" href="">Our products</a></li>
            <li class="mob-header-menu-item"><a class="link" href="">Contact</a></li>
          </ul>
        </nav>
      <button class="btn mob-buy-btn" type="button">Buy now</button>
      </div>
      <button class="mob-header-close-btn close-btn" type="button" data-menu-close>
        <svg class="header-icon header-close-icon " width="32" height="32">
          <use href='./images/header/header-icons.svg#icon-ep_close'></use>
        </svg>
  </div>
</header>