<header class="header">
  <div class="container">
    <nav class="navigation">
      <ul class="header-menu list">
        <li class="header-menu-item"><a href="">Home</a></li>
        <li class="header-menu-item"><a href="">How it’s made?</a></li>
        <li class="header-menu-item"><a href=""></a>Our products</li>
        <li class="header-menu-item"><a href="">Contact</a></li>
      </ul>
    </nav>
    <button class="btn buy-btn" type="button">Buy now</button>
    <button class="mob-menu-btn" type="button">
      <svg class="header-icon" width="32" height="32">
        <use></use>
      </svg>
    </button>
    <div class="mob-menu-container">
      <nav class="nav">
        <ul class="mob-header-menu list">
          <li class="mob-header-menu-item"><a href="">Home</a></li>
          <li class="mob-header-menu-item"><a href="">How it’s made?</a></li>
          <li class="mob-header-menu-item"><a href="">Our products</a></li>
          <li class="mob-header-menu-item"><a href="">Contact</a></li>
        </ul>
      </nav>
      <button class="btn buy-btn" type="button">Buy now</button>
      <button class="mob-header-close-btn" type="button">
        <svg class="header-icon" width="32" height="32">
          <use></use>
        </svg>
      </button>
    </div>
  </div>
</header>