<section class="hero-section section">
  <div class="container">
    <h1 class="hero-title">ice cream made with <span>passion</span> </h1>
    <div class="hero-btn-wrap">
      <button class="btn hero-prod-btn" type="button">Products</button>
      <a class="mob-hero-link link" href="#">How it’s made?</a>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <ul class="hero-info list">
      <li class="hero-info-item">
        <p>cafes</p>
      </li>
      <li class="hero-info-item">
        <p>food trucks</p>
      </li>
    </ul>
  </div>
</section>
