<div class="backdrop is-hidden" data-backdrop>
  <div class="location">
    <button type="button" class="location__btn" data-location-close>
      <svg width="20px" height="20px">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="location__title">Our Locations</h2>
    <!--
    <picture>
      <source
        srcset="
          ./images/location/location-mb-min.png    1x,
          ./images/location/location-mb@2x-min.png 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/location/location-tb-min.png    1x,
          ./images/location/location-tb@2x-min.png 2x
        "
        media="(min-width: 768px)"
      />

      <img
        src="./images/location/location-tb-min.png"
        alt="Location map"
        class="location__map"
        width="448"
        height="260"
      />
    </picture>
-->
    <div class="location__responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7929340743603!2d-87.78192918456442!3d41.70340558430726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20USA!5e0!3m2!1sen!2sua!4v1669588709943!5m2!1sen!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <a
      href="https://goo.gl/maps/22TV8pAynbMZZ8e99"
      class="location__link"
      target="_blank"
      rel="noopener noreferrer"
      >Open map</a
    >
  </div>
</div>
