<div class="backdrop" data-modal-buy-now>
  <div class="buy-now-modal modal">
    <button type="button" class="modal__close-btn" data-modal-buy-now-close>
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="buy-now-modal__title">Buy now</p>
    <ul class="buy-now-modal__list">
      <li class="buy-now-modal__item">
        <p class="buy-now-modal__product-title">ice cream</p>
      </li>
      <li class="buy-now-modal__item">
        <p class="buy-now-modal__product-title">ice coffee</p>
      </li>
      <li class="buy-now-modal__item">
        <p class="buy-now-modal__product-title">milkshake</p>
      </li>
    </ul>
    <form class="buy-now-modal__form form">
      <label class="form__label">
        <input
          class="form__input buy-now-modal__input"
          type="text"
          name="user-name"
          placeholder="Name"
          required
        />
      </label>
      <label class="form__label">
        <input
          class="form__input buy-now-modal__input"
          type="tel"
          name="user-phone-number"
          placeholder="Phone"
          required
        />
      </label>
      <label class="form__label">
        <textarea
          class="form__textarea buy-now-modal__input"
          name="commentary"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="form__btn btn btn--fill">Submit</button>
    </form>
  </div>
</div>
