<!-- Modal Read More -->
<div class="backdrop is-hidden" data-modal__read-more>
  <div class="modal__read-more">
    <form class=".js-speaker-form" action="data">
      <h2 class="modal__read-more-heading">How it’s made?</h2>
      <iframe
        class="modal__read-more-video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/2AcaLeBzcnY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="modal__read-more-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </form>

    <button
      type="button"
      class="close-btn-about-modal"
      data-modal__read-more-close
    >
      <svg class="close-modal-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
  </div>
</div>
