<section class="products section" id="products">
  <div class="container">
    <p class="products__description section__description">100% natural</p>
    <h2 class="products__title section__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products-wrap">
          <h3 class="products__name">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button class="products__btn" data-modal-product-info-open1>
          <svg class="products__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-Arrow-4"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <div class="products-wrap">
          <h3 class="products__name">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button class="products__btn" data-modal-product-info-open2>
          <svg class="products__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-Arrow-4"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <div class="products-wrap">
          <h3 class="products__name">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button class="products__btn" data-modal-product-info-open3>
          <svg class="products__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-Arrow-4"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
