<section class="products">
  <p>100% natural</p>
  <h2 class="products-title">products</h2>
  <ul class="products-list">
    <li class="products-item">
      <h3 class="products-name">ice cream</h3>
      <p class="products-desc">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button class="products-btn">
        <svg class="products-icon" width="40" height="16">
          <use href="../images/products-icon.svg"></use>
        </svg>
      </button>
    </li>
    <li class="products-item">
      <h3 class="products-name">ice coffee</h3>
      <p class="products-desc">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button class="products-btn">
        <svg class="products-icon" width="40" height="16">
          <use href="../images/products-icon.svg"></use>
        </svg>
      </button>
    </li>
    <li class="products-item">
      <h3 class="products-name">milkshakes</h3>
      <p class="products-desc">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button class="products-btn">
        <svg class="products-icon" width="40" height="16">
          <use href=""></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
