.backdrop {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity $time-hover $time-function;
}
.buy-now-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 280px;
  padding: 28px;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.buy-now-modal__title {
  margin-bottom: 83px;
  font-family: getFontFamily('secondary');
  font-size: 16px;
  line-height: 1.5;
  color: getColor('text-color-dark');
}
.buy-now-modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.buy-now-modal__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
  height: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('text-color-dark');
  border: 2px solid #96af8c;
  border-radius: 15.7808px;

  &::before {
    content: '';
    display: block;
    width: 132px;
    height: 132px;
    background-image: url(./images/modal-buy/ice-coffee-mb.png);
  }
}
.buy-now-modal__product-title {
  padding-bottom: 20px;
  margin-top: auto;
}

.buy-now-modal__form {
}
.form {
}
.form__label {
}
.form__input {
}
.form__textarea {
}
